# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work-2020\tweak-af\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
